.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
}
.form {
  padding: 0 10px;
  margin: 10px;
  max-width: 450px;
  width: 100%;
}
.btn-container {
  display: flex;
}
